<div class="row">
    <div class="col day-section-container" id="day-sections">
        
        
            <div class="day-section">
                <div class="row">
                    <div class="col fullday-section-date-container">
                        <h2 class="section-date" data-date="{{ day|date:'Y-m-d' }}">{{ day|date:"l, F j, Y" }}</h2>
                    </div>
                    <div class="col">
                        <div class="back-to-agenda align-self-start mt-2">
                            <a  href="{% url 'minilogistic:agenda' %}"><h4><i class="fa-solid fa-xl fa-down-left-and-up-right-to-center"></i></h4></a>
                        </div>
                    </div>
                </div>




                {% for clean in cleans %}
                    {% if clean.date == day %}
                    
                    <div class="row clean-section" id="clean-section-{{clean.id}}">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    
                                        <h4><i class="fa-solid fa-house icon-margin-right"></i>{{ clean.location }}</h4>
                                    
                                </div>
                                
                                
                                
                                <div class="col">
                                    
                                </div>
                               
                                <div>
                                    <i class="fa fa-ellipsis-v clean-edit-icon" style="font-size:30px;" data-cleanid="{{ clean.id }}"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        
                                        <div class="clean-item-container-title">
                                            <p><b><i class="fa-regular fa-user fa-lg icon-margin-right"></i>Cleaners</b></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="clean-item-container">
                                                {% if clean.cleaners.all %}
                                                    <ul>
                                                        {% for cleaner in clean.cleaners.all %}
                                                           
                                                                <li><i class="fa-regular fa-user icon-margin-right"></i>{{ cleaner }}</li>
                                                            
                                                        {% endfor %}
                                                    {% else %}
                                                        <li>No cleaners assigned.</li>
                                                    </ul>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="clean-item-container-title">
                                            <p><b><i class="fa-regular fa-clock fa-lg icon-margin-right"></i>Clean start</b></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="clean-item-container">
                                            <p>{{ clean.start_time }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="clean-item-container-title">
                                            <p><b><i class="fa-solid fa-lg fa-hourglass-half icon-margin-right"></i>Duration</b></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="clean-item-container">
                                            <p>{{ clean.duration }}h</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                            
                            <div class="row">

                                <div class="clean-item-container">
                                    <p><b><i class="fa-regular fa-xl fa-comment-dots icon-margin-right"></i>Comments:</b></p>
                                </div>

                                <div class="col"></div>
                                
                                <div class="col">
                                    <div class="row">
                                        {% if clean.arrival_time %}
                                      <div class="clean-item-container-title">
                                        
                                        <p><b><i class="fa-solid fa-lg fa-repeat icon-margin-right"></i>Same day arrival @</b> {{ clean.arrival_time }}</p>
                                        
                                      </div>
                                        {% endif %}
                                    </div>
                                </div>
                                    
                                
                                
                            </div>
                            <div class="row ">
                                <div class="comments-section">
                                    <div class="col">
                                        <ul class="comment-list">
                                            {% for comment in clean.clean_comments.all %}
                                                
                                                <div class="clean-comment-container comment-color-{{comment.color}}">
                                                    <li> {{ comment.body }}</li>
                                                </div>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                        
                                        
                                    
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                </div>
                                      
                                
                                <div class="col">
                                </div>
                            </div> 
                                
                            
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

                {% for booking in bookings %}
                    {% if booking.arrival_date == day %}
                    <div class="row booking-section" id="booking-section-{{booking.id}}">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    
                                        <h4><i class="fa-solid fa-house icon-margin-right"></i>{{ booking.location }}</h4>
                                    
                                </div>
                                
                                <div>
                                    <i class="fa fa-ellipsis-v booking-edit-icon" style="font-size:30px;" data-bookingid="{{ booking.id }}"></i>
                                    
                                </div>
                                
                            </div>




                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        
                                        <div class="booking-item-container-title">
                                            <p><b><i class="fa-regular fa-user fa-lg icon-margin-right"></i>Guest</b></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                            <div class="booking-item-container">
                                               <p>{{ booking.firstname }} {{ booking.lastname }}</p> 
                                            </div>
                                        
                                    </div>
                                    
                                </div>
                                <div class="col">
                                    <div class="row">
                                        
                                        <div class="booking-item-container-title">
                                            <p><b><i class="fa-solid fa-hashtag icon-margin-right"></i>Guests</b></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                            <div class="booking-item-container">
                                               <p>{{ booking.number_pax }}</p> 
                                            </div>
                                        
                                    </div>
                                    
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="booking-item-container-title">
                                            <p><b><i class="fa-solid fa-at fa-lg icon-margin-right"></i>Email</b></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="booking-item-container">
                                            {% if booking.email %}
                                            <p>{{ booking.email }}</p>
                                            {% else %}
                                            <p>Not supplied</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col">
                                    <div class="row">
                                        <div class="booking-item-container-title">
                                            <p><b><i class="fa-solid fa-phone fa-lg icon-margin-right"></i>Phone</b></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="booking-item-container">
                                            {% if booking.phone_number %}
                                            <p>{{ booking.phone_number }}</p>
                                            {% else %}
                                            <p>Not supplied</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                            </div>



                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        
                                        <div class="booking-item-container-title">
                                            <p><b><i class="fa-solid fa-calendar-days fa-lg icon-margin-right"></i>Arrival</b></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                            <div class="booking-item-container">
                                               <p>{{ booking.arrival_date }}</p> 
                                            </div>
                                        
                                    </div>
                                    
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="booking-item-container-title">
                                            <p><b><i class="fa-solid fa-calendar-days fa-lg icon-margin-right"></i>Departure</b></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="booking-item-container">
                                           
                                            <p>{{ booking.departure_date }}</p>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="booking-item-container-title">
                                            <p><b><i class="fa-regular fa-clock fa-lg icon-margin-right"></i></i>Arrival time</b></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="booking-item-container">
                                            {% if booking.arrival_time %}
                                            <p>{{ booking.arrival_time }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="booking-item-container-title">
                                            <p><b><i class="fa-solid fa-key fa-lg icon-margin-right"></i>Self check-in</b></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="booking-item-container">
                                            {% if booking.self_check_in == True %}
                                            <p>Yes</p>
                                            {% else %}
                                            <p>No</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="row">
                                <div class="booking-item-container">
                                    <p><b><i class="fa-regular fa-xl fa-comment-dots icon-margin-right"></i>Comments:</b></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="comments-section">
                                    <div class="col">
                                        <ul class="comment-list">
                                            {% for comment in booking.booking_comments.all %}
                                                <div class="booking-comment-container comment-color-{{comment.color}}">
                                                    <li>{{ comment.body }}</li>
                                                </div>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                        
                                    
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col">
                                    
                                </div>
                                <div class="col">

                                </div>
                            </div> 
                            
                        </div>
                        
                    </div>
                    
                    {% endif %}
                {% endfor %}
                    <div class="form-container form-transition"></div> <!--Booking form appears here when Add Booking is clicked-->
                        
                      

                    
                    
                <div class="row">
                    <div class="col text-right button-container">
                        <button type="button" class="clean-button btn btn-info btn-lg" data-newclean-form-url="{% url 'minilogistic:newcleanform' %}">Add Clean</button>
                    </div>
                    <div id="add-booking-button" class="col text-left">
                        <button type="button" class="booking-button btn btn-info btn-lg" data-booking-form-url="{% url 'minilogistic:bookingform' %}">Add Booking</button>
                    </div>
                </div>
                
            </div>
        
    </div>
    
</div>  