{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}MINIlogistic{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'minilogistic/styles.css' %}" rel="stylesheet">
    
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        
        
         
       
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="d-flex align-items-center mr-auto">
                            <a class="nav-link" href="{% url 'minilogistic:agenda' %}" style="display: inline-flex;">
                                <h1 style="color:lightcoral; font-weight: bold;">MINI</h1>
                                <h1 style="color:lightblue; font-weight: bold;">logistic</h1>
                            </a>
                        </div>
                        
                        
                        {% if user.is_authenticated %}
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'minilogistic:settings' %}">Settings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'minilogistic:logout' %}">Log Out</a>
                            </li>
                            <li class="nav-item">
                                {% if user.is_authenticated %}
                               <a class="nav-link"><strong>{{ user.username }}</strong></a>
                            {% else %}
                                Not signed in.
                            {% endif %}
                            </li>
                        </ul>
                        {% endif %}
                       
                    </div>
                </div>
            </nav>

            <br>
            {% block body %}
            {% endblock %}
        </div>
        {% block scripts %}
        {% endblock %}
    </body>
</html>

