body {
    padding: 10px;
}

.row align-items-center {
    background-color: blue;
}

h1 {
    font-weight: bolder;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 10px;
}

.row-cols-4 .col {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 10px;
    height: 200px;
    background-color: lightgray;
    
}
a {
    color: black;
}

.cat_icon {
    width: 120px;
}

.small-italic {
    color: grey; 
    font-size: small; 
    font-style: italic;
}

.listing {
    background-color:lightgray;
}

.comment-box {
    background-color: lightgray;
    border-style:groove;
    border-color: lightgray;
}


  
