
/* Agenda View */


#datepicker {
  
  width: 18%;
  font-size: 40px;
  margin-left: 5px;
  
}



.day-section {
  border-style: solid;
  border-color: lightblue;
  border-width: 1px;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  background-color: lightblue;
}

.day-section-container {
  transition: opacity 0.5s ease-in-out;
}

.clean-section {

  border-style: solid;
  border-color: lightcoral;
  border-width: 1px;
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
  background-color: lightcoral;

}

.clean-section:hover {
  cursor: pointer;
}

.clean-button {
  border-color: lightcoral;
  background-color: lightcoral;
}
.clean-button:hover {
  border-color: rgb(173, 92, 92);
  background-color: rgb(173, 92, 92);

}

#clean-form-arrival-time-container {
  display: none;
}




.section-date {
  margin: 5px;
}

.form-transition {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}


.booking-section {

  border-style: solid;
  border-color: rgb(133, 133, 133);
  border-width: 1px;
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
  background-color: rgb(133, 133, 133);

}

.booking-button {
  border-color: rgb(133, 133, 133);
  background-color: rgb(133, 133, 133);

}
.booking-button:hover {
  border-color: rgb(101, 101, 101);
  background-color: rgb(101, 101, 101);


}

.form-header {

  text-align: center;
}

.sidebar-button {

  border-style: solid;
  border-color: lightblue;
  border-width: 1px;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  background-color: lightblue;

} 


/*-------------------------*

#date-input {
  display: none; /* hide the input field *
}
 
label[for="date-input"]::after {
  content: "\f073"; /* use an icon instead of text *
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 5px;
  cursor: pointer;
}

/* styles for the calendar popup *
input[type="date"]:focus::-webkit-calendar-picker-indicator {
  display: block;
  background: transparent;
  width: 0.5em;
  height: 0.5em;
  margin-left: 5px;
  margin-right: 5px;
  color: #333;
  opacity: 1;
  cursor: pointer;
}
*/



