
/* Agenda View */


#datepicker {
  
  width: 18%;
  font-size: 40px;
  margin-left: 5px;
  padding-top: 15px;
  border-width: 0px;
  border-radius: 25px;
  
}


/* Toggle button */
.custom-switch.large {
  position: absolute;
  bottom: 30px;
  right: 1px;
}

.large-switch .custom-control-input {
  width: 2.5rem;
  height: 1.25rem;
  
}
.large-switch .custom-control-label {
  padding-left: 3.25rem;
  
}
.large-switch .custom-control-label::before {
  width: 3rem;
  height: 1.75rem;
  border-radius: 1.65rem; /* Add this line to make the edges more rounded */
  background-color: lightblue;
  border-color: lightblue;
  
}
.large-switch .custom-control-label::after {
  width: 2rem;
  height: 1.5rem;
  border-radius: 50%; /* Add this line to make the edges more rounded */
  
}
.large-switch .custom-control-input:checked~.custom-control-label::before {
  background-color: lightblue; 
  border-color: lightblue;
}






.day-section {
  border-style: solid;
  border-color: lightblue;
  border-width: 1px;
  border-radius: 25px;
  margin: 5px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: lightblue;
}


.day-section-container {
  transition: opacity 0.5s ease-in-out;
}

.clean-section {

  border-style: solid;
  border-color: lightcoral;
  border-width: 1px;
  border-radius: 25px;
  margin: 10px;
  padding: 5px;
  background-color: lightcoral;

}

.clean-section:hover {
  cursor: pointer;
}

.clean-button {
  border-color: lightcoral;
  background-color: lightcoral;
  border-radius: 25px;
  margin-bottom: 10px;
}
.clean-button:hover {
  border-color: rgb(173, 92, 92);
  background-color: rgb(173, 92, 92);
  border-radius: 25px;

}

#clean-form-arrival-time-container {
  display: none;
}




.section-date {
  margin: 5px;
}

.form-transition {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}


.booking-section {

  border-style: solid;
  border-color: rgb(133, 133, 133);
  border-width: 1px;
  border-radius: 25px;
  margin: 10px;
  padding: 5px;
  background-color: rgb(133, 133, 133);

}

.booking-button {
  border-color: rgb(133, 133, 133);
  background-color: rgb(133, 133, 133);
  border-radius: 25px;

}
.booking-button:hover {
  border-color: rgb(101, 101, 101);
  background-color: rgb(101, 101, 101);
  border-radius: 25px;


}

.form-header {

  text-align: center;
}

.sidebar-button {

  border-style: solid;
  border-color: lightblue;
  border-width: 1px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  background-color: lightblue;

} 


/* ----- Horizontal Agenda -------*/

.no-wrap-row-hor {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.day-section.horiz {
  border-style: solid;
  border-color: lightblue;
  border-width: 1px;
  border-radius: 25px;
  margin: 5px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: lightblue;

  flex: 0 0 auto;
  min-width: 100px; /* Adjust this value to your desired minimum column width */
  max-width: 330px;
  height: auto;
  padding-right: 15px; /* Add padding to separate the columns */
  display: flex;
  flex-direction: column;
}



.day-section-content {
  height: 100%;
}






/*-------------------------*




