
body {
  zoom: 80%;
}

/* Agenda View */


#datepicker, #fulldatepicker {
  
  width: 18%;
  font-size: 40px;
  margin-left: 5px;
  padding-top: 15px;
  border-width: 0px;
  border-radius: 25px;
  
}

p, li {
  color: rgb(98, 98, 98);
}

h5, h2 {
  color: rgb(98, 98, 98);
}

ul li {
  list-style-type: none;
}

.add-buttons-container {
  margin-top: 100px;
}

.vertically-centered {
  display: flex;
  align-items: center;
}

.icon-margin-right {
  margin-right: 10px;
}

.icon-margin-left {
  margin-left: 10px;
}

.hover-linked-item:hover {
  cursor:pointer;
}

/* Settings page */

.setting-title {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Back to Agenda Icon */

.back-to-agenda {
  margin-bottom: 30px;
  margin-right: 10px;

  position: absolute;
  bottom: 0px;
  right: 30px;
}

/* Toggle button */

.custom-switch.large {
  position: absolute;
  bottom: 30px;
  right: 1px;
}

.large-switch .custom-control-input {
  width: 2.5rem;
  height: 1.25rem;
  
}
.large-switch .custom-control-label {
  padding-left: 3.25rem;
  
}
.large-switch .custom-control-label::before {
  width: 3rem;
  height: 1.75rem;
  border-radius: 1.65rem; 
  background-color: lightblue;
  border-color: lightblue;
  
}
.large-switch .custom-control-label::after {
  width: 2rem;
  height: 1.5rem;
  border-radius: 50%; 
  
}
.large-switch .custom-control-input:checked~.custom-control-label::before {
  background-color: lightblue; 
  border-color: lightblue;
}

/* ------------ Day Section -------------- */

.day-section {
  border-style: solid;
  border-color: lightblue;
  border-width: 1px;
  border-radius: 25px;
  margin: 5px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: lightblue;
  
}

.full-day-link a,
.full-day-link p,
.back-to-agenda a,
.back-to-agenda p {
  color: grey;
  font-weight: 500;
  text-decoration: none;
}
.full-day-link a:hover,
.full-day-link p:hover,
.back-to-agenda a:hover,
.back-to-agenda p:hover {
  color: rgb(55, 55, 55);
  font-weight:500;
  text-decoration: none;
}

.day-section-container {
  width: 100%;
  box-sizing: border-box;

  transition: opacity 0.5s ease-in-out;
}
.section-date-container {
  
  background-color: rgb(224, 247, 253);
  width: fit-content;
  margin: 10px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 25px;
  
}

.fullday-section-date-container {
  
  background-color: rgb(224, 247, 253);
  width: fit-content;
  margin: 15px 25px 25px 25px;
  
  padding: 5px;
  border-radius: 50px;
  
}

.section-date {
  font-weight: bolder;
  margin: 5px;
  white-space: nowrap;
  
}

.fullday-section-date {
  font-weight: bolder;
  margin: 30px;
  white-space: nowrap;
  
}

.full-day-link {
  
  width: fit-content;
  align-self:flex-end;
}


/* --------------- Clean Section ---------------- */

.clean-section {

  border-style: solid;
  border-color: rgb(255, 192, 192);
  border-width: 1px;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(255, 192, 192);

}
.clean-section h4 {
  color: rgb(214, 87, 87);
}

.clean-item-container-title {
  background-color: rgb(238, 181, 181);
  border-color: lightcoral;
  width: fit-content;
  margin:5px;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.clean-item-container-title h4,
.clean-item-container-title p {
  text-align: center;
  margin: 0;
}

.clean-item-container {
  
  width: fit-content;
  margin:5px;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  
  display: flex;
  justify-content: center;
  align-items: center; 
}

.clean-item-container h4,
.clean-item-container p {
  text-align: center;
  margin: 0;
}

.clean-item-container li {
  text-align: left;
}

.clean-item-container ul {
  padding-left: 0;
}


/* ------------- Comments -------------------- */

.clean-comment-container {
  
  border-color: black;
  width: fit-content;
  margin:5px;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}



.comment-color-green,
.btn-green {
  background-color: rgb(214, 247, 148);
  border-color: rgb(214, 247, 148);
}

.comment-color-red,
.btn-red {
  background-color: rgb(239, 134, 134);
  border-color: rgb(239, 134, 134);
}

.comment-color-blue, 
.btn-blue {
  background-color: rgb(159, 160, 228);
  border-color: rgb(159, 160, 228);
}
.comment-color-grey,
.btn-grey {
  background-color: rgb(171, 171, 171);
  border-color: rgb(171, 171, 171);
}


.clean-button {
  border-color: lightcoral;
  background-color: lightcoral;
  border-radius: 25px;
  margin-bottom: 10px;
  min-width: 150px;
}
.clean-button:hover {
  border-color: rgb(173, 92, 92);
  background-color: rgb(173, 92, 92);
  border-radius: 25px;

}

*/

/* ---------------- Forms ------------------- */

#clean-form-arrival-time-container {
  display: none;
}

.form-header {
  text-align: center;
}

.form-transition {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.form-control {
  border-radius: 25px;
  border-color: rgb(224, 247, 253);
  background-color: rgba(224, 247, 253, 0.815);
}

.form-button-row {
  min-height: 70px;
}

.submit-booking-button {
  border-color: rgb(101, 101, 101);
  background-color: rgb(101, 101, 101);
  border-radius: 25px;
  min-width: 110px;
  

}
.submit-booking-button:hover {
  border-color: rgb(210, 210, 210);
  background-color: rgb(210, 210, 210);
  border-radius: 25px;
  min-width: 110px;

}

.submit-newclean-button,
.submit-editclean-button,
.delete-clean-button  {
  border-color: rgb(101, 101, 101);
  background-color: rgb(101, 101, 101);
  border-radius: 25px;
  min-width: 110px;
  

}
.submit-newclean-button:hover,
.submit-editclean-button:hover,
.delete-clean-button:hover  {
  border-color: rgb(210, 210, 210);
  background-color: rgb(210, 210, 210);
  border-radius: 25px;
  min-width: 110px;

}

.cancel-form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cancel-form {
  color: white;
}

.cancel-form:hover {
  cursor: pointer;
}

/* ----------------- Booking Section ----------------------- */

.booking-section {
  position: relative;
  border-style: solid;
  border-color: rgb(182, 182, 182);
  border-width: 1px;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(183, 182, 182);
}

.booking-section h4 {
  color: rgb(96, 95, 95);
}

.booking-item-container-title {
  background-color: rgb(148, 148, 148);
  border-color: rgb(148, 148, 148);
  width: fit-content;
  margin:5px;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-item-container-title h4,
.booking-item-container-title p {
  text-align: center;
  margin: 0;
}

.booking-item-container {
  width: fit-content;
  margin: 5px;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-item-container h4,
.booking-item-container p {
  text-align: center;
  margin: 0;
}

.booking-comment-container {
  border-color: black;
  width: fit-content;
  margin:5px;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-comment-button {
  border-color: rgb(133, 133, 133);
  background-color: rgb(133, 133, 133);
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 150px;
}

.booking-comment-button:hover,
.booking-comment-button:active,
.booking-comment-button:focus {
  border-color: rgb(86, 86, 86);
  background-color:  rgb(86, 86, 86);
  border-radius: 25px;

}

.booking-button {
  border-color: rgb(133, 133, 133);
  background-color: rgb(133, 133, 133);
  border-radius: 25px;
  min-width: 150px;
}

.booking-button:hover {
  border-color: rgb(101, 101, 101);
  background-color: rgb(101, 101, 101);
  border-radius: 25px;
  min-width: 150px;
}


/* ----- Horizontal Agenda -------*/

.no-wrap-row-hor {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: flex-start;
}

.day-section.horiz {
  border-style: solid;
  border-color: lightblue;
  border-width: 1px;
  border-radius: 25px;
  margin: 5px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: lightblue;

  flex: 0 0 auto;
  min-width: 100px; 
  max-width: 420px;
  padding-right: 15px; 
  display: flex;
  flex-direction: column;
}

.day-section-content {
  height: 100%;
}

/*----------Edit Icon ---------------*/

.clean-edit-icon {
  margin: 0px 15px 20px 10px;
  color:lightcoral;
}

.booking-edit-icon {
  margin: 0px 15px 20px 10px;
  color:rgb(133, 133, 133);
}

.booking-edit-icon:hover,
.clean-edit-icon:hover {
  cursor: pointer;
}



