

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}


#submit {
    margin-top: 5px;
}

.newpost-section {
    border-style: solid;
    border-width: thin;
    border-color: grey;
    border-radius: 5px;
    padding: 25px 15px 25px 15px;
    background-color: #c7f1bd;
}

.post-section {
    margin-top: 20px;
    border-style: solid;
    border-width: thin;
    border-color: grey;
    border-radius: 5px;
    padding: 25px 15px 0px 15px;
    background-color: #c7f1bd;
}

.post-section .heart-col {
    padding-right: 10px;
}

.timestamp {
    font-size: small;
    color: grey;

}

.profilename {
    color: darkgreen;
}