{% extends "network/layout.html" %}

{% block body %}
<div class="container-fluid">
    <h3>Following</h3>
    
    <div class="newpost-section">
        <h4>New Post</h4>

        <form action="{% url 'network:index' %}" method="post">
            <div class="form-group">
                {% csrf_token %}
                {{ NewPostform }}
                <button type="submit" id="submit" class="btn btn-success">Post</button>
            </div>
        </form> 

    </div>
    {% for post in posts %}
    <div class="post-section">

        <h5><a class="profilename" href="/{{ post.poster }}">{{ post.poster }}</a></h5>
        <p>{{ post.body }}</p>
        <div class="row align-items-center">
            <div class="col heart-col">
                <i class="glyphicon glyphicon-heart"></i> 0
            </div>
        </div>
        <p class="timestamp">{{ post.timestamp }}</p>
        
    </div>
    {% endfor %}

</div>
{% endblock %}