{% extends "network/layout.html" %}
{% load static %}


{% block body %}
<div class="container-fluid">
    <h2>{{ profile.username }}</h2>
    <h4>Followers {{ profile.followers.count }}</h4>
    <h4>Following {{ profile.following.count }}</h4>

    {% if user.is_authenticated %}
    {% if user.username != profile.username %}
        
        {% if followed == False %}
        <form action="{% url 'network:profile' profile.username %}" method="post">
            {% csrf_token %}
            <input hidden name="formtype" value="follow">
            <button type="submit" class="btn btn-outline-success">Follow</button>
        </form>
        {% else %}
        <form action="{% url 'network:profile' profile.username %}" method="post">
            {% csrf_token %}
            <input hidden name="formtype" value="unfollow">
            <button type="submit" class="btn btn-outline-secondary">Unfollow</button>
        </form>
        {% endif %}

    {% endif %}
    {% endif %}

    <h3> My Posts</h3>

    
    {% for post in page %}
    <div class="post-section">
        {% csrf_token %}

        <h5><a id="post-poster-{{ post.id }}" class="profilename" href="/{{ post.poster }}">{{ post.poster }}</a></h5>
        
        <p id="post-body-{{ post.id }}">{{ post.body }}</p>
        {% if post.poster == user %}
        <p class="edit" data-id="{{ post.id }}">edit</p>
        {% endif %}
        
        <div class="row align-items-center">
            <div id="likes-{{ post.id }}" class="col heart-col">
                {% if user in post.liked_by.all %}
                <i class="glyphicon glyphicon-heart" data-liked="True" data-like="{{ post.id }}"></i>
                {% else %} 
                <i class="glyphicon glyphicon-heart-empty" data-liked="False" data-like="{{ post.id }}"></i>
                {% endif %}
                <p id="like-count-{{ post.id }}">{{ post.liked_by.all|length }}</p>
            </div> 
        </div>
        <p class="timestamp">{{ post.timestamp }}</p>
    </div>
    {% endfor %}

    {% if page.has_other_pages %}
    <nav>
    <div class="d-flex justify-content-center">
        <ul class="pagination bg-dark ">
            {% if page.has_previous %}
            <li class="page-item"><a class="page-link text-dark" href="?page=1">&laquo; First</a></li>
            <li class="page-item"><a class="page-link text-dark" href="?page={{ page.previous_page_number }}">&lsaquo; Prev</a></li>
            {% endif %}

            {% for i in page.paginator.page_range %}
            {% if page.number == i %}
            <li class="page-item active"><span class="page-link bg-success border-success">{{ i }}<span class="sr-only">(current)</span></span></li>
            {% else %}
            {% if i > page.number|add:'-3' and i < page.number|add:'3' %}
            <li class="page-item"><a class="page-link text-dark" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endif %}
            {% endfor %}

            {% if page.has_next %}
            <li class="page-item"><a class="page-link text-dark" href="?page={{ page.next_page_number }}">Next &rsaquo;</a></li>
            <li class="page-item"><a class="page-link text-dark" href="?page={{ page.paginator.num_pages }}">Last &raquo;</a></li>
            {% endif %}
        </ul>
    </div>
    </nav>
    {% endif %}

</div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/edit.js' %}"></script>

    {% if user.is_authenticated %}
    <script>
        var isAuthenticated = true;
    </script>
    {% else %}
    <script>
        var isAuthenticated = false;
    </script>
    {% endif %}

{% endblock %}