{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    
        {% for active_listing in active_listings %}
        <div class="container-fluid">
            <div class="row align-items-center border border-dark rounded">
                <div class="col">
                    <img src="{{ active_listing.image.url }}">
                </div>
                <div class="col">
                    <h4>
                        <a href="/{{ active_listing }}">{{ active_listing }}</a>
                    </h4>
                    <p>{{ active_listing.description }}</p>
                    <p>Price: € {{ active_listing.price }}</p>
                </br>
                    <p style="color: grey; font-size: small; font-style: italic;">Date added: {{ active_listing.date_added }} </p>
                </div>
            </div>
        
        </div>
    </br>
        {% endfor %}


    
{% endblock %}