{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="{{ listing.image.url }}">
        </div>
        <div class="col">       
            </br>
                <h2>{{ listing.title }}</h2>
                <p>{{ listing.description }}</p>
                <p>€ {{ listing.price }}</p>
                <p class="small-italic">Date added: {{ listing.date_added }} </p>
            </br>
                {% if message %}
                <div style="color:red;">{{ message }}</div>
                {% endif %}

                {% if listing.active == True %}
                <form action="{% url 'auctions:listing' listing.title %}" method="post">
                    {% csrf_token %}
                    {{ bid_form }}
                    <input hidden name="formtype" value="bid">
                    <button type="submit" class="btn btn-warning">Place Bid</button>
                </form>
                {% else %}
                <h4>This listing is no longer open for bids.</h4>
                {% endif %}
                
                {% if listing.current_winner == user and listing.active == True %}
                <p class="small-italic">{{ listing.bid_count }} bid(s) so far. Your bid is the current bid. </p> 
                {% elif listing.active == True %}
                <p class="small-italic">{{ listing.bid_count }} bid(s) so far.</p> 
                {% elif listing.current_winner == user and listing.active == False %}
                <h4>You won this auction!!!</h4>
                <p class="small-italic">This listing had {{ listing.bid_count }} bid(s) and is now closed.</p>
                {% elif listing.active == False %}
                <p class="small-italic">This listing had {{ listing.bid_count }} bid(s) and is now closed.</p>
                {% endif %}
            </br>
                {% if on_watchlist == True %}  
                <p class="small-italic">This item is currently on your watchlist.</p> 
                <form action="{% url 'auctions:listing' listing.title %}" method="post">
                    {% csrf_token %}
                    <input hidden name="formtype" value="remove">
                    <button type="submit" class="btn btn-light">Remove from Watchlist</button>
                </form>
                {% else %}
                <form action="{% url 'auctions:listing' listing.title %}" method="post">
                    {% csrf_token %}
                    <input hidden name="formtype" value="add">
                    <button type="submit"  class="btn btn-light">Add to Watchlist</button>
                </form>
                {% endif %}
            </div>
        </div>        
        <div>
            <h4>Comment on this listing</h4>
            <form action="{% url 'auctions:listing' listing.title %}" method="post">
                {% csrf_token %}
                <table>
                {{ comment_form.as_table }}
                </table>
                <input hidden name="formtype" value="comment">
                <button type="submit" class="btn btn-light">Submit Comment</button>                  
            </form>
        </br>
            <h4>Comments</h4>
            {% if not comments %}
            <h6>No comments yet.</h6>
            {% endif %}

            {% for comment in comments %}       
            <div class="comment-box">
                <h5>{{ comment.title }}</h5>
                <p>{{ comment.body }}</p>
                <p class="small-italic">Submitted by: {{ comment.commenter }}</p>
            </div>
        </br>           
            {% endfor %}
        </div>
    </br>
        {% if listing.owner == user and listing.active == True %}
        <p class="small-italic">This listing belongs to you.</p>
        <form action="{% url 'auctions:listing' listing.title %}" method="post">
            {% csrf_token %}
            <input hidden name="formtype" value="close">
            <button type="submit" class="btn btn-secondary">Close Listing</button>
        </form>
        {% endif %}
    </br> 
</div>
        
        
        
    

{% endblock %}