{% for day in dates %}
            
                <div class="day-section">

                    <h5 class="section-date">{{ day|date:"l, F j, Y" }}</h5>



                    {% for clean in cleans %}
                        {% if clean.date == day %}
                        <div class="row clean-section">
                            <div class="col">
                                <h4>{{ clean.location }}</h4>
                            </div>
                            <div class="col">
                                <p><b>Clean time:</b> {{ clean.start_time }}</p>
                            </div>
                            <div class="col">
                                <p><b>Booking Arrival:</b> {{ clean.booking.arrival_time }}</p>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    {% for booking in bookings %}
                        {% if booking.arrival_date == day %}
                        <div class="row booking-section">
                            <div class="col">
                                <h4>{{ booking.location }}</h4>
                            </div>
                            <div class="col">
                                <p><b>Guest:</b> {{ booking.firstname }} {{ booking.lastname }}</p>
                            </div>
                            <div class="col">
                                <p><b>Arrival:</b> {{ booking.arrival_time }}</p>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                        <div class="form-container form-transition"></div> <!--Booking form appears here when Add Booking is clicked-->
                            
                          

                        
                        
                    <div class="row">
                        <div class="col text-right button-container">
                            <button type="button" class="clean-button btn btn-info" data-newclean-form-url="{% url 'minilogistic:newcleanform' %}">Add Clean</button>
                        </div>
                        <div id="add-booking-button" class="col text-left">
                            <button type="button" class="booking-button btn btn-info" data-booking-form-url="{% url 'minilogistic:bookingform' %}">Add Booking</button>
                        </div>
                    </div>
                    
                </div>
            
            {% endfor %}



