<form id="newclean-form" action="{% url 'minilogistic:newclean' %}" method="POST">
    <div class="clean-section">
        <div class="row">
            <div class="col-12">
                <h4 class="form-header text-center">Edit Clean</h4>
                <p>{{clean.cleaners.all}}</p>
                
            </div>
        </div>

        <div class="row">
            <div style="padding-top: 31.8px;" class="col-md-4 form-group">
               
                <select class="form-control" id="locationSelect" name="location" required>
                    <option value="" selected disabled="true">{{ clean.location }}</option>
                    {% for location in locations %}
                        <option value="{{ location.id }}">{{ location.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 form-group">
                <label for="clean-date">Clean date</label>
                <input type="date" class="form-control" id="clean-date" name="clean_date" value="{{ clean.date|date:'Y-m-d' }}"required>
            </div>
            <div class="col-md-4 form-group">
                <label for="start_time">Clean start</label>
                <input type="time" class="form-control" id="start-time" name="start_time"  value="{{ clean.start_time|date:'H:i' }}" required>
            </div>
            
        </div>

        <div class="row">
            
            
            <div class="col-md-4 form-group">
                <select class="form-control" id="cleaners-assigned" name="cleaners_assigned[]" multiple>
                    <option value="" disabled="true">Cleaners</option>
                    {% for cleaner in cleaners %}
                    {% if cleaner in clean.cleaners.all %}
                        <option value="{{ cleaner.id }}" selected>{{ cleaner.name }}</option>
                    {% else %}
                        <option value="{{ cleaner.id }}">{{ cleaner.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                
            </div>
            
        </div>

        <div class="row align-items-end">
            
            <div class="col-md-4 form-group">
                <div class="form-check">
                    {% if clean.same_day %}
                    <input type="checkbox" class="form-check-input" id="same-day" name="same_day" checked>
                    <label class="form-check-label" for="sameDay">Same day arrival?</label>
                </div>
            </div>
            <div class="col-md-4 form-group" >
                <div id="clean-form-arrival-time-container" style="display:block;">
                <label for="time-input">Arrival Time</label>
                <input type="time" class="form-control" id="arrival-time" name="arrival_time" value="{{clean.arrival_time|date:'H:i'}}">
                </div>
                    {% else %}
                    <input type="checkbox" class="form-check-input" id="same-day" name="same_day">
                    
                    <label class="form-check-label" for="sameDay">Same day arrival?</label>
                </div>
        </div>
            <div class="col-md-4 form-group" >
                    <div id="clean-form-arrival-time-container">
                        <label for="time-input">Arrival Time</label>
                        <input type="time" class="form-control" id="arrival-time" name="arrival_time">
                    </div>
                {% endif %}

            </div>
            
        </div>
        <div class="row newclean-form-row align-items-end form-button-row">
            <div class="col-md-4 col-sm-12 form-group booking-form-col text-right">
                
            </div>
    
            <div class="col-md-4 col-sm-12 form-group newclean-form-col d-flex flex-column">
                <div class="cancel-form-container">
                    <p class="cancel-form text-right mb-1">Cancel</p>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-12 form-group newclean-form-col text-right">
                <button type="submit" class="btn btn-info submit-newclean-button">Add Clean</button>
            </div>
        </div>
    </div>
</form>