<form>
    <div class="clean-section">
        <div class="row">
            <div class="col-12">
                <h4 class="form-header text-center">New Clean</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <select class="form-control" id="locationSelect">
                    <option selected disabled="true">Location</option>
                    {% for location in locations %}
                        <option value="{{ location.id }}">{{ location.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 form-group">
                <label for="clean-date">Clean date</label>
                <input type="date" class="form-control" id="clean-date" name="cleandate">
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="time-input">Arrival Time</label>
                <input type="time" class="form-control" id="time-input" name="time">
            </div>
            
        </div>
        <div class="row align-items-end">
            
            <div class="col-md-4 form-group">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="sameDay">
                    <label class="form-check-label" for="sameDay">Same Day?</label>
                </div>
            </div>
            <div class="col-md-4 form-group text-right">
                <button type="submit" class="btn btn-info">Add Clean</button>
            </div>
        </div>
    </div>
</form>