{% extends "minilogistic/layout.html" %}
{% load static %}



{% block body %}
<h5>Selected: {{ selected_account }}</h5>
<form>
    <select class="form-control" id="Account" name="account" required>
        <option value="" selected disabled> User Accounts</option>
        {% for account in accounts %}
            <option value="{{ account.id }}">{{ account.name }}</option>
        {% endfor %}
    </select>
</form>
                
                
              


{% endblock %}
{% block scripts %}

{% endblock %}





