textarea {
    min-height: 400px;
}

.email-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-color: black;
    padding: 5px;
    margin-top: 5px;
    
}

  
.email-details {
    display: flex;
    align-items: center;
}
  
.email-sender {
    font-weight: bold;
    margin-right: 12px;
}
  
.email-timestamp {
    
    color: #999;
}
