textarea {
    min-height: 400px;
}

.email-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-color: black;
    padding: 5px;
    margin-top: 5px;
    
}

.email-item:hover {
    cursor: pointer;
}

  
.email-details {
    display: flex;
    align-items: center;
}
  
.email-sender {
    font-weight: bold;
    margin-right: 12px;
}
  

.email-header {
    display: flex;
    justify-content: space-between;
   
}

.email-recipient {
    margin-bottom: 10px;
}

.email-timestamp {
    text-align: right;
}

.email-body {
    margin-bottom: 20px;
}
